hnlLastStopCellInfo = '(
                           ( "PRIMLIB" "ne3" "auCdl" "52" "1666777074" )
                          ( "PRIMLIB" "pe3" "auCdl" "53" "1666777074" )
                          ( "PRIMLIB" "rpp1k1_3" "auCdl" "49" "1666777074" )
                          ( "PRIMLIB" "ne3i_6" "auCdl" "163" "1666777074" )
                          ( "PRIMLIB" "cmm5t" "auCdl" "44" "1666777074" )
                          ( "PRIMLIB" "mosvc3" "auCdl" "392" "1666777074" )
                          ( "PRIMLIB" "qpvc3" "auCdl" "43" "1666777074" )
                       )
hnlLastTopViewWasConfig = 0
hnlLastMaxNameLength = 60
hnlLastNamePrefix = "hnl_"
hnlLastNetNamePrefix = "N"
hnlLastInstNamePrefix = ""
hnlLastModelNamePrefix = ""
hnlLastGlobalNetPrefix = "G"
hnlLastModulePrefix = "sub"
hnlLastHierarchyDelimiter = "."
hnlLastNetlistRevision = "__Revision2"
hnlLastOptimizeCellGenerationInConfig = nil
hnlLastMapNetFirstChar = '(
                            "	"
                            " "
                            "$"
                            ","
                            "/"
                            "0"
                            "1"
                            "2"
                            "3"
                            "4"
                            "5"
                            "6"
                            "7"
                            "8"
                            "9"
                            ":"
                            ";"
                            "="
                          )
hnlLastMapNetInName = '(
                            "	"
                            " "
                            "$"
                            ","
                            "/"
                            ":"
                            ";"
                            "="
                          )
hnlLastMapInstFirstChar = '(
                            "	"
                            " "
                            "$"
                            ","
                            "/"
                            "0"
                            "1"
                            "2"
                            "3"
                            "4"
                            "5"
                            "6"
                            "7"
                            "8"
                            "9"
                            ":"
                            ";"
                            "="
                          )
hnlLastMapInstInName = '(
                            "	"
                            " "
                            "$"
                            ","
                            "/"
                            ":"
                            ";"
                            "="
                          )
hnlLastInstNameDifferentFrom = '( )
hnlLastModelNameDifferentFrom = '( )
hnlLastNetNameDifferentFrom = '( )
hnlLastTermNameDifferentFrom = '( )
hnlLastParamNameDifferentFrom = '( )
hnlLastLibInfo = '(
                    ( "ASKA_CONSTANT_GM" "1724649453" )
                   ( "ASKA_REF_BIAS" "1724649903" )
                   ( "ASKA_BANDGAP" "1724648355" )
                   ( "ASKA_BIAS" "1724650233" )
                  )
hnlLastDesignVars = '( )
